.navbar-content {
    float:right;
    height: inherit;
    margin-top: 10px;
}

.navbar-content a {
    margin-right: 20px;

}

.navbar-content p {
    float: left;
    margin-top: 7px;
    margin-right: 20px;
}

label {
    width: 100%;
}